{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>All Categories</h3>
            <p><a href="#" class="btn btn-default" data-toggle="modal" data-target="#addcategory">Add category</a></p>
            <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Option</th>
                  </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{ category.name | title }}</td>
                        {% if current_user.is_authenticated and current_user.admin %}
                            <td><a href="{{ url_for('books.edit_category', id=category.id) }}">Edit</a> | 
                            <a href="" class="text-danger" data-toggle="modal" data-target="#deleteCategory">Delete</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Book Category Modal-->
    <div class="modal fade" id="addcategory" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="categoryModalLabel">Adding a new category</h3>
            </div>
            <div class="modal-body">
                {{ wtf.quick_form(form, button_map={'submit':'success'}, extra_classes="text-muted") }}
            </div>
        </div>
    </div>
{% endblock %}