{% extends "base.html" %}

{% block app_content %}
<div class="row">
  <!-- Blog Entries Column -->
  <div class="col-md-8">
      {% for book in books %}
      <div class="col-sm-6 col-md-3">
          <a href="{{ url_for('books.book', id=book.id) }}" class="thumbnail">
            <img src="{{ url_for('static', filename='book_pics/' + book.image) }}" alt="" class="cus-img">
          </a>
      </div>
      {% endfor %}
      
  </div> 

  <!-- Sidebar Widgets Column -->
  <div class="col-md-4">
    <!-- Search Widget -->
    <div class="panel panel-default">
      <div class="panel-heading"><b>Categories</b></div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
              <a href="{{ url_for('main.index') }}">All</a>
          </li>
          {% for category in categories %}
          <li class="list-group-item">
              <a href="{{ url_for('main.index', cat=category) }}">{{ category.title() }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>
  
  <hr>
  <div class="text-center row col-md-8">
    <!--{{ pagination.info }}-->
    {{ pagination.links }} 
  </div>
</div>

{% endblock %}